.moviePictures {
    max-width: 300px;
    height: auto;
}

.innerText {
    font-size: 15px;
}
.innerDescription {
    font-size: 15px;
}

#form-container{
    display: none;
}
#putBtn{
    display: none;
}
#addBtn{
    display: none;
}